POSTGRES_DB_DEV=ecommerce_development
POSTGRES_DB_TEST=ecommerce_development_test
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_HOST=db
POSTGRES_PORT=5432

RAILS_MAX_THREADS=5